<ion-content [fullscreen]="true">
    <div class="container">
      <h1>Haz olvidado tu Contraseña?</h1>
      <h3>Ingresa tu correo electrónico, o nombre de usuario y te enviaremos un enlace para cambiar a una nueva contraseña</h3>
      <div class="recuperar">
       <input type="text" id="user" placeholder="Usuario o Correo Electronico">
      </div>
      <button>Recuperar contraseña</button>
   
      <div class="registro-link">
       <span>No tienes una cuenta?</span>
       <a (click)="paginaRegistro()">Registrate</a>
      </div>
     </div>

</ion-content>
